<google-map height="70vh" width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)"
  mapId="b8de3c3862a29686">
  <map-advanced-marker *ngFor="let marker of markers" #markerElem="mapAdvancedMarker" [position]="marker.position"
    [title]="'FirstText, SecondText'" [options]="marker.options" (mapClick)="onMarkerClick(markerElem)" />
  <map-info-window #infoWindow></map-info-window>

</google-map>

<p-dialog header="Set Marker Label" [modal]="true" [(visible)]="editVisible" [style]="{ width: '25rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template pTemplate="headless">
    <div class="flex flex-column px-7 py-5 gap-4"
      style="border-radius: 12px; background-image: radial-gradient(circle at right top, var(--primary-400), var(--primary-700))">
      <div class="inline-flex flex-column gap-2">
        <label for="textone" class="text-primary-50 font-semibold">First Text</label>
        <input pInputText id="textone" class="bg-white-alpha-20 border-none p-3 text-primary-50" pInputText
          [(ngModel)]="newLabel" />
      </div>
      <div class="inline-flex flex-column gap-2">
        <label for="texttwo" class="text-primary-50 font-semibold">Second Text</label>
        <input pInputText id="texttwo" class="bg-white-alpha-20 border-none p-3 text-primary-50" pInputText
          [(ngModel)]="newLabel" />
      </div>
      <div class="flex align-items-center gap-2">
        <p-button label="Save" (onClick)="saveLabel()" [text]="true"
          styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full" />
        <p-button label="Cancel" (onClick)="closeDialog()" [text]="true"
          styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full" />
      </div>
    </div>
  </ng-template>
</p-dialog>