<main class="main">
  <div class="content">
    <div class="map-container">
      <app-map></app-map>
    </div>
    <div class="btn-container">
      <p-button (onClick)="showDialog('bottom')" icon="pi pi-user" label="Login" />
    </div>
    <p-dialog [modal]="true" [(visible)]="visible" [position]="position" [style]="{ width: '25rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
      <ng-template pTemplate="headless">
        <div class="flex flex-column px-7 py-5 gap-4"
          style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700))">
          <div class="inline-flex flex-column gap-2">
            <label for="username" class="text-primary-50 font-semibold">Username</label>
            <input pInputText id="username" class="bg-white-alpha-20 border-none p-3 text-primary-50" />
          </div>
          <div class="inline-flex flex-column gap-2">
            <label for="password" class="text-primary-50 font-semibold">Password</label>
            <input pInputText id="password" class="bg-white-alpha-20 border-none p-3 text-primary-50" type="password" />
          </div>
          <div class="flex align-items-center gap-2">
            <p-button label="Sign-In" (onClick)="closeDialog()" [text]="true"
              styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
              class="w-full" />
            <p-button label="Cancel" (onClick)="closeDialog()" [text]="true"
              styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
              class="w-full" />
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</main>

<router-outlet />